@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

*{
  font-family: "Ubuntu", sans-serif !important;

}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Ubuntu", sans-serif !important;


}
:root {
  direction: rtl;
}
a.active {
  color: #2a1ddd;
}
.super-shadow {
  box-shadow: 0 0 15px -10px #000000;
}
.showSmoothy{
  animation: showSmoothy .2s ease-in-out ;
}
.fontsansSerif{
  font-family: sans-serif !important;
}
.wide{
  animation: wide .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
::-webkit-scrollbar{display: none;}
@keyframes showSmoothy {
  0%{
  opacity: 0;
  margin: 0;
  transform: translateY(-1%);
  scale: .9;

  }
  40%{
    opacity: .1;
    scale: 1;

  }
  100%{
    opacity: 1;
  transform: translateX(-0%);

  }
}

@keyframes wide { 
  0%{
  opacity: 0;
width: 0;
  }
  100%{
    opacity: 1;

  }
}
